
.logo {
  color: #bdbdbd;
  margin-left: .5em!important;
  margin-bottom: .5em!important;
  font-weight: 500!important;
  text-align: left;
}

.sidebar {
  display: flex;
  position: fixed;
  width: calc(33.333333% - 2%);
  height: 100vh;
  flex-wrap: wrap;
  align-items: center;
}

@media (max-width: 1280px) {
  .sidebar {
    width: calc(41.666667% - 2%);
  }
}

@media (max-width: 960px) {
  .sidebar {
    width: 100%;
    position: static;
    height: auto;
    width: 100%;
  }
}